[submodule "components/dnn/nnabla-c-runtime"]
	path = components/dnn/nnabla-c-runtime
	url = https://github.com/sony/nnabla-c-runtime.git
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
